<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="inline-30">
  <sa-angular-dropdown [options]="arrOptions1" [(selectedOption)]="option1"></sa-angular-dropdown>
  <span>Output {{option1 | json }}</span>
</div>
<div class="inline-30">
  <sa-angular-dropdown [options]="arrOptions2" [(selectedOption)]="option2"></sa-angular-dropdown>
  <span>Output {{option2 | json }}</span>
</div>
<div class="inline-30">
  <sa-angular-dropdown [options]="arrOptions3" [(selectedOption)]="option3"></sa-angular-dropdown>
  <span>Output {{option3 | json }}</span>
</div>